*{
    margin: 0;
    padding: 0;
}

.capa {
    background-image: url("../assets/img/capa.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    height: 797px;
    background-color: rgb(255, 165, 0);
    border-bottom: 10px solid #000;    
}
.lado_opaco {
    width: 50%;
    height: 797px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.areaCard {
    width: 800px;
    height:290px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card {
    width: 800px;
    height: 184px;
    background-color: #3A4042;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow:  5px 5px 0 #000;

}



.skills {
    height: 740px;
    background-color: #F25A70;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    border-bottom: 10px solid #7C5E99;  
}
.projects {
    height: 530px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    border-bottom: 10px solid #F25A70;  
}
.about {
    height: 783px;
    background-color: #7C5E99;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    border-bottom: 10px solid #000;  
}
.contact {
    height: 783px;
    background-color: #6e7172;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    border-bottom: 10px solid #000;  
}
.content form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content form input{
    margin-bottom: 10px;
}
.content form input textarea{
    margin-bottom: 10px;
}
.content form .buttonCv {
    width: 100%;
    margin-top: 20px;
    padding: 0;
}

footer {
    height: 100px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
}
